[submodule "services/ai"]
	path = services/ai
	url = https://github.com/ProcessMaker/pm4_ai.git
[submodule "services/nayra"]
	path = services/nayra
	url = https://github.com/ProcessMaker/nayra-docker
