[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock
nice=0

[mysqld]
#
# Basic Settings
#
user=mysql
pid_file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
general_log=ON
general_log_file=/dev/stdout
log_error=/dev/stderr
slow_query_log=1
slow_query_log_file=/dev/stdout
tmpdir=/tmp
skip_external_locking=1
server_id=666420

#
# Instead of skip_networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#
bind_address=0.0.0.0

#
# Character Set & Collation
#
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci

#
# Safety
#
max_allowed_packet=64M
max_connect_errors=15872
skip_name_resolve=ON
sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now=ON

#
# Cache & Limits
#
tmp_table_size=64M
max_heap_table_size=64M
max_connections=512
thread_cache_size=256
open_files_limit=16383
table_definition_cache=1024
table_open_cache=256

#
# InnoDB
#
default_storage_engine=InnoDB
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=1
innodb_file_per_table=1
innodb_buffer_pool_size=8G
innodb_deadlock_detect=ON
innodb_sort_buffer_size=2097152
sort_buffer_size=2097152

#
# Performance Schema
#
performance_schema=1

#
# Client
#
[client]
socket=/var/run/mysqld/mysqld.sock
default_character_set=utf8mb4

[mysql]
default_character_set=utf8mb4
