[mysqld_safe]
socket=/var/run/mysqld/mysqld.sock
nice=0

[mysqld]
#
# Basic Settings
#
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
port=3306
datadir=/var/lib/mysql
tmpdir=/tmp
skip-external-locking
server-id=666420

#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
#
bind-address=0.0.0.0

#
# Character Set & Collation
#
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci

#
# Safety
#
max-allowed-packet=64M
max-connect-errors=524288
skip-name-resolve
sql-mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now=1

#
# Cache & Limits
#
tmp-table-size=64M
max-heap-table-size=64M
max-connections=2048
thread-cache-size=256
open-files-limit=16383
table-definition-cache=1024
table-open-cache=256

#
# InnoDB
#
default-storage-engine=InnoDB
innodb-flush-method=O_DIRECT
innodb-flush-log-at-trx-commit=1
innodb-file-per-table=1
innodb-buffer-pool-size=8G

#
# Client
#
[client]
socket=/var/run/mysqld/mysqld.sock
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
